	body {
		
	
	}
.landingpage{
	margin-top: -24px;
	min-width:100%;
	min-height:100% !important;
	width:auto !important;
	position:fixed;
	display:block;
	background-size:cover;
}

@media (min-width: 800px){
.landingpageLogo {
	margin: 25px 0 0 25px;
	width:35%;
	height: 35%;
	position:fixed;
}
}

@media (max-width: 799px){
.landingpageLogo {
	margin: 25px 0 0 25px;
	width:55%;
	height: 55%;
	position:fixed;
}
}



@media (max-width: 499px){
.landingpageLogo {
	margin: 25px 0 0 25px;
	width:85%;
	height: 85%;
	position:fixed;
}
}